{% extends "../todo/base.html" %}
{% load static %}
{% block content %}
{% if to_do %}
{% if searched %}
<div class="container">

 <div class="box-element col-md-10">    
    <ul class="list-group">
    {% for todo in to_do %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{todo.text}}
        
          <span>
            <span class="badge badge-danger badge-pill">{{todo.check_rem}} left</span>
            <a class="makeAction" data-add="add" data-id="{{todo.id}}" href="{% url 'update_form' todo.id %}"><i class="fa m-1">&#xf040;</i></a><a  data-id="{{todo.id}}"  class="makeAction" data-remove="remove"  href="#">
          <i class="fa fa-trash m-1"></i></a>
        </span>
        </li>
 {% endfor %}
</ul>
      <div >
    
      </div>
</div>


{% else %}
 <div class="container">

 {% if yesterday %}
  <h2 class="page-header"> <i class="icon-list"></i>Yesterday event{{ yesterday|pluralize }}</h2>
        <div class="box-element col-md-10">    
    <ul class="list-group">
    {% for todo in yesterday %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{todo.text}}
        
          <span>
            <span class="badge badge-danger badge-pill">{{todo.check_rem}} left</span>
            <a class="makeAction" data-add="add" data-id="{{todo.id}}" href="{% url 'update_form' todo.id %}"><i class="fa m-1">&#xf040;</i></a><a  data-id="{{todo.id}}"  class="makeAction" data-remove="remove"  href="#">
          <i class="fa fa-trash m-1"></i></a>
        </span>
        </li>
       
          {% endfor %}
      </ul>
      <div >
    
      </div>
      
</div>

   </div>
</div>

 {% else %}
<div ><h2 > No events for Yesterday</h2>
</div> 
<hr>
 {% endif %}
       
<br>
<!--hhhhhhhhhhhhhhhhhhhhhhhhh-->
<div class="container">

 {% if to_day %}
  <h2 class="page-header"> <i class="icon-list"></i>Today event{{ to_day|pluralize }}</h2>
        <div class="box-element col-md-10">    
    <ul class="list-group">
    {% for todo in to_day %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{todo.text}}
        
          <span>
            <span class="badge badge-danger badge-pill">{{todo.check_rem}} left</span>
            <a class="makeAction" data-add="add" data-id="{{todo.id}}" href="{% url 'update_form' todo.id %}"><i class="fa m-1">&#xf040;</i></a><a  data-id="{{todo.id}}"  class="makeAction" data-remove="remove"  href="#">
          <i class="fa fa-trash m-1"></i></a>
        </span>
        </li>
       
          {% endfor %}
      </ul>
      <div >
      <a href="{% url 'create_task' %}" style="float:right;" style="color:white;" class="btn btn-outline-primary m-4">Add Task </i><i class="fa">&#xf271;</i></a>
    
      </div>
      
</div>

   </div>
</div>

 {% else %}
<div ><h2 > No events Today</h2>
</div> 
<hr>
 {% endif %}
       
<br>
<!--hhhhhhhhhhhhhhhhhhhhhhhhh-->
<br>
<br>
<div class="container">

 {% if to_morrow %}
  <h2 class="page-header"> <i class="icon-list"></i>Tomorrow event{{ to_morrow|pluralize }}
</h2>
        <div class="box-element col-md-10">    
    <ul class="list-group">
    {% for todo in to_morrow %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{todo.text}}
        
          <span>
            <span class="badge badge-danger badge-pill">{{todo.check_rem}} left</span>
            <a class="makeAction" data-add="add" data-id="{{todo.id}}" href="{% url 'update_form' todo.id %}"><i class="fa m-1">&#xf040;</i></a><a  data-id="{{todo.id}}"  class="makeAction" data-remove="remove"  href="#">
          <i class="fa fa-trash m-1"></i></a>
        </span>
        </li>
       
          {% endfor %}
      </ul>
      <div >
    
      </div>
      
</div>

   </div>
</div>

 {% else %}
<div ><h2 > No events Tommorrow</h2>
</div> 
<hr>
 {% endif %}
       
<br>
{% endif %}
{% else %}
{% if auth_mod %}
<div class="container">
<h2>The To-Do item you searched for does not exist!!!</h2>
</div>
{% else %}
<div class="jumbotron text-center">
<div class="container">
<h1>Hello, Welcome to To-Do App </h1>

<p class="lead">Create your upcoming task to meet  before future deadlines </p>
<p>Quickly register or sign up to get started </p>
<a   href="{% url 'sign_up' %} " class="btn btn-outline-primary m-4">Sign Up</a>

</div>
</div>
{% endif %}
{% endif %}
   

{% endblock content %}

